---
layout: default
title: Início
---
<section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">Sobre Mim</h2>
                        <div class="content">
                            <p>Desenvolvedor web desde 2009 com experiência com programação PHP e Python, usando bancos de dados MySQL e PostgreSQL. Atualmente trabalho com Python utilizando o framework Flask e estou aprendendo Angular2.</p>

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

                <section class="latest section">
                    <div class="section-inner">
                        <h2 class="heading">Últimos Projetos</h2>
                        <div class="content">
                            {% for projeto in site.data.projetos  limit:1 %}
                            <div class="item featured text-center">
                                <h3 class="title"><a href="{{ projeto.url }}" target="_blank">{{ projeto.nome }}</a></h3>
                                <p class="summary">{{ projeto.empresa }}</p>
                                <div class="featured-image has-ribbon">
                                    <a href="{{ projeto.url }}" target="_blank">
                                    <img class="img-fluid project-image" src="{{ projeto.capa }}" alt="{{ projeto.nome }}" />
                                    </a>
                                    <div class="ribbon">
                                        <div class="text">New</div>
                                    </div>
                                </div>

                                <div class="desc text-left">
                                    <p>{{ projeto.descricao }}</p>
                                </div><!--//desc-->
                                <a class="btn btn-cta-secondary" href="/projetos.html"><i class="fas fa-eye"></i> Ver Mais</a>
                            </div><!--//item-->
                            {% endfor %}
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->


                <section class="experience section">
                    <div class="section-inner">
                        <h2 class="heading">Experiência Profissional</h2>
                        <div class="content">
                            {% for emprego in site.data.experiencia %}
                            <div class="item">
                                <h3 class="title"> {{ emprego.cargo }} - <span class="place"><a href="#">{{ emprego.empresa }}</a></span> <span class="year">({{ emprego.inicio }} - {{ emprego.termino }})</span></h3>
                                <p>{{ emprego.funcao }}</p>
                                <p>Tecnologias utilizadas: {{ emprego.tecnologias }}</p>
                            </div><!--//item-->
                            {% endfor %}

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->
                <section class="github section">
                    <div class="section-inner">
                        <h2 class="heading">Meu GitHub</h2>
                        <p>You can embed your GitHub contribution graph calendar using IonicaBizau's <a href="https://github.com/IonicaBizau/github-calendar" target="_blank">GitHub Calendar</a> widget.

                        <div id="github-graph" class="github-graph">

                        </div><!--//github-graph-->

                        <p>You can also embed your GitHub activities using Casey Scarborough's <a href="https://caseyscarborough.com/projects/github-activity/" target="_blank">GitHub Activity Stream</a> widget.
                        <!--//Usage: https://caseyscarborough.com/projects/github-activity/ -->
                        <div id="ghfeed" class="ghfeed">
                        </div><!--//ghfeed-->

                    </div><!--//secton-inner-->
                </section><!--//section-->
